$transition-effect: all 0.2s ease;
$grayColour: rgb(71, 71, 71);

#Home {
  transition: $transition-effect;
  padding: 0vw 8vw;
  box-shadow: 0px 11px 35px -6px rgba(255, 255, 255, 1);
  overflow-x: hidden;
  .nav-bar {
    position: sticky !important;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7vw 0;
    transition: $transition-effect;
    .logo {
      cursor: pointer;
      h1 {
        font-family: "poppinsRegular";
        font-size: 2.5vw;
        font-weight: 500;
        letter-spacing: 0.2vw;
        transition: $transition-effect;
      }
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // border: 1px solid black;
      width: 50vw;
      p {
        font-family: "poppinsRegular";
        font-size: 1.5vw;
        cursor: pointer;
        transition: $transition-effect;
        //   border: 1px solid black;
      }
      p:hover {
        font-family: "poppinsMedium";
        font-size: 1.6vw;
      }

      .mode-changer {
        transition: $transition-effect;
        .icon {
          cursor: pointer;
          font-size: 2.4vw;
        }
      }
    }
  }
  .profile-section {
    padding: 4vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .col:nth-child(1) {
      //   border: 1px solid black;
      .row:nth-child(1) {
        flex-direction: column;
      }
      .row {
        display: flex;
        justify-content: center;
        align-items: center;
        p:nth-child(1) {
          font-size: 1.5vw !important;
        }
        p {
          font-family: "poppinsMedium";
          color: $grayColour;
          font-size: 3.5vw;
        }
        h1 {
          padding: 0.2vw 0;
          font-size: 3vw;
          font-family: "poppinsBold", sans-serif;
          font-weight: bolder !important;
        }
      }
      .row:nth-child(2) {
        display: flex;
        align-items: center;
        // border: 1px solid black;
        padding: 1vw 0;
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid black;
          font-size: 1.4vw;
          font-family: "senMedium";
          padding: 1vw 1.2vw;
          cursor: pointer;
          border-radius: 25vw;
          transition: $transition-effect;
          width: 14vw;
          margin: 0 0.5vw;
          .icon {
            margin: 0 0.2vw;
            font-size: 1.6vw;
            padding-left: 0.3vw;
          }
        }
        button:hover {
          border: 1px solid #fafafa;
          background-color: black;
          color: #fafafa;
        }
        button:nth-child(2) {
          padding: 0.82vw 1.2vw;
          .icon {
            font-size: 2vw;
          }
        }
      }
      .row:nth-child(3) {
        padding: 1vw 0;
        .icon {
          cursor: pointer;
          font-size: 3.5vw;
          margin: 0 1vw;
          transition: $transition-effect;
        }
        .icon:hover {
          transform: scale(1.15);
        }
      }
    }
    .col {
      .store-profile-img {
        // box-shadow: 5px 30px 81px -40px rgba(0, 0, 0, 0.35);
        // border: 1px solid black;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        width: 30vw;
        height: 30vw;
      }
    }
  }
  .get-to-know-more {
    padding: 4vw 0 6vw 0;
    header {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 2.5vw;
      p {
        color: $grayColour;
        font-family: "poppinsRegular";
        font-size: 1.2vw;
      }
      h1 {
        font-family: "poppinsSemiBold";
        font-size: 3.5vw;
      }
    }
    .about-me {
      padding: 1.5vw 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .col {
        .store-img {
          width: 30vw;
          height: 30vw;
          transform: scale(1.4);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          filter: drop-shadow(0 0.2vw 0.25rem rgba(69, 69, 69, 0.2));
        }
        .row:nth-child(1) {
          display: flex;
          //   border: 1px solid $grayColour;
          align-items: center;
          justify-content: space-around;
          .card {
            border: 1.5px solid rgb(182, 182, 182);
            border-radius: 1.5vw;
            width: 20vw;
            height: 12vw;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
            padding: 2.2vw;
            .icon {
              font-size: 2.2vw;
            }
            h1 {
              font-family: "poppinsSemiBold";
              font-size: 2vw;
            }
            p {
              font-family: "poppinsRegular";
              font-size: 1.1vw;
            }
          }
        }
        .row:nth-child(2) {
          p {
            font-size: 1.2vw;
            padding: 2vw 0;
            font-family: "poppinsRegular";
            text-align: justify;
            line-height: 2vw;
          }
        }
      }
    }
  }
  .Experience {
    padding: 4vw 0 6vw 0;
    header {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 2.5vw;
      p {
        color: $grayColour;
        font-family: "poppinsRegular";
        font-size: 1.2vw;
      }
      h1 {
        font-family: "poppinsSemiBold";
        font-size: 3.5vw;
      }
    }
    .col {
      display: flex;
      align-items: center;
      margin: 2vw 0;
      .store-img {
        width: 15vw;
        height: 15vw;
        // border-radius: 100%;
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
      }
      .row {
        width: 60vw;
        // border: 1px solid white;
        padding-left: 4vw;
        h1 {
          font-size: 4vw;
          font-family: "senMedium";
          // color: gray;
          span {
            font-size: 1.2vw;
            font-family: "poppinsRegular" !important;
          }
        }
        p {
          font-size: 1.25vw;
          font-family: "poppinsRegular";
          padding: 1.2vw 0;
          line-height: 2vw;
          text-align: justify;
        }
      }
    }
  }
  .explore-experience {
    padding: 4vw 0 8vw 0;
    header {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 1.5vw;
      p {
        color: $grayColour;
        font-family: "poppinsRegular";
        font-size: 1.2vw;
      }
      h1 {
        font-family: "poppinsSemiBold";
        font-size: 3.5vw;
      }
    }
    .cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .card {
        border: 1.5px solid rgb(128, 128, 128);
        border-radius: 1.5vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 40vw;
        padding: 2vw;
        margin: 1vw 0;
        header {
          h1 {
            font-size: 3.5vw;
            color: $grayColour;
          }
        }
        .col {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .row {
            display: flex;
            align-items: flex-start;
            padding: 1.2vw 0;
            //   border: 1px solid black;
            width: 16vw;
            .icon {
              font-size: 2vw;
              margin-right: 0.6vw;
            }
            .content {
              h1 {
                font-size: 1.6vw;
                font-family: "poppinsSemiBold";
              }
              p {
                font-family: "poppinsRegular";
                font-size: 1.1vw;
              }
            }
          }
        }
      }
    }
  }
  .projects {
    padding: 4vw 0 8vw 0;
    header {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 1.5vw;
      p {
        color: $grayColour;
        font-family: "poppinsRegular";
        font-size: 1.2vw;
      }
      h1 {
        font-family: "poppinsSemiBold";
        font-size: 3.5vw;
      }
    }
    .cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .card {
        width: 40vw;
        margin: 2.5vw 0;
        // padding: 1vw;
        border: 1.5px solid $grayColour;
        border-radius: 2vw;
        // height: 40vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: $transition-effect;

        .project-info {
          position: relative;
          display: none;
          // background-color: red;
          color: white;
          width: 1vw;
          height: 40vw;
          transition: $transition-effect;
        }

        .store-img {
          transition: $transition-effect;
          //   display: none;
          width: 100%;
          height: 20vw;
          // border: 1px solid red;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: left center;
        }
        h1 {
          //   display: none;
          font-size: 2vw;
          font-family: "poppinsSemiBold";
          padding: 2vw 0;
          transition: $transition-effect;
        }
        .rows {
          display: flex;
          button {
            //   display: none;
            margin: 1vw;
            transition: $transition-effect;

            .icon {
              font-size: 2vw;
            }
          }
          button:hover {
            border: 1px solid #fafafa;
            background-color: black;
            color: #fafafa;
          }
        }
      }
    }
  }
  .get-in-touch {
    padding: 4vw 0 8vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    header {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 1.5vw;
      p {
        color: $grayColour;
        font-family: "poppinsRegular";
        font-size: 1.2vw;
      }
      h1 {
        font-family: "poppinsSemiBold";
        font-size: 3.5vw;
      }
    }
    .card {
      display: flex;
      border: 1px solid $grayColour;
      border-radius: 2vw;
      width: fit-content;
      align-items: center;
      padding: 2.4vw 2.2vw;
      justify-content: space-between;
      .row {
        display: flex;
        align-items: center;
        margin: 0 1.5vw;
        cursor: pointer;
        .icon {
          font-size: 2vw;
          margin-right: 0.2vw;
        }
        p {
          font-family: "senRegular";
          font-size: 1.4vw;
        }
      }
    }
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.5vw;
    p {
      font-family: "senRegular";
      font-size: 1.2vw;
    }
  }
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 8px;
  position: absolute;
  background: transparent; /* Set scrollbar background to transparent */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

/* Set scrollbar handle color */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255); /* Set a slightly transparent white color */
  border-radius: 8px; /* Set border radius */
  border: 2px solid #ccc; /* Set border color */
}

/* Set top and bottom border radius */
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece:end {
  background: black;
  border-radius: 8px; /* Set border radius */
}

@media screen and (max-width: 768px) {
  a {
    text-decoration: none;
    color: unset !important;
  }
  #Home {
    .nav-bar {
      padding: 4vw 0;
      // border: 1px solid white;
      .logo {
        h1 {
          font-size: 8vw;
        }
      }
      .mobile-components {
        display: flex;
        margin-left: auto;
        .mode-changer {
          display: flex;
          align-items: center;
          margin-right: 3vw;
          .icon {
            font-size: 5vw;
          }
        }
        .three-lines {
          // transition: $transition-effect !important;
          .three-line {
            transition: $transition-effect !important;
            font-size: 8vw;
          }
        }
        .mobile-nav-links {
          position: absolute;
          border: 1px solid #fafafa;
          margin-top: 10vw;
          right: 0vw;
          padding: 2vw;
          border-radius: 2vw;
          width: 50vw;
          transition: $transition-effect;
          h1 {
            font-family: "poppinsMedium";
            padding: 2.2vw 1vw;
            font-size: 5vw;
          }
        }
        // .three-line:hover + .mobile-nav-links {
        //   display: unset;
        // }
        // .mobile-nav-links:hover {
        //   display: unset;
        // }
      }
    }
    .profile-section {
      flex-direction: column-reverse;
      .col:nth-child(1) {
        //   border: 1px solid black;F
        .row:nth-child(1) {
          flex-direction: column;
        }
        .row {
          display: flex;
          justify-content: center;
          align-items: center;
          p:nth-child(1) {
            font-size: 4vw !important;
          }
          p {
            font-family: "poppinsMedium";
            color: $grayColour;
            font-size: 8vw;
          }
          h1 {
            padding: 0.2vw 0;
            font-size: 8vw;
            font-family: "poppinsBold", sans-serif;
            font-weight: bolder !important;
          }
        }
        .row:nth-child(2) {
          display: flex;
          align-items: center;
          // border: 1px solid black;
          padding: 1vw 0;
          button {
            color: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.5vw;
            font-family: "senMedium";
            padding: 1.8vw 2.8vw;
            cursor: pointer;
            border-radius: 25vw;
            transition: $transition-effect;
            width: 30vw;
            margin: 3vw 0.5vw;
            border: 1px solid black;
            .icon {
              margin: 0 0.2vw;
              font-size: 3.5vw;
            }
          }
          button:hover {
            border: 1px solid #fafafa;
            background-color: black;
            color: #fafafa;
          }
          button:nth-child(2) {
            padding: 1.6vw 0 !important;
            // margin-top: 8vw;
            .icon {
              font-size: 4.5vw;
            }
          }
        }
        .row:nth-child(3) {
          padding: 2vw 0 4vw 0;

          .icon {
            cursor: pointer;
            font-size: 10vw;
            margin: 1vw 2vw;
          }
        }
      }
      .col {
        .store-profile-img {
          width: 60vw;
          height: 60vw;
          margin: 3.5vw 0;
        }
      }
    }
    .get-to-know-more {
      header {
        p {
          font-size: 4vw;
        }
        h1 {
          font-size: 8vw;
        }
      }
      .about-me {
        flex-direction: column;
        .col {
          .store-img {
            margin: 8vw 0;
            width: 50vw;
            height: 50vw;
            transform: scale(1.5);
          }
          .row:nth-child(1) {
            padding: 8vw 0;
            .card {
              width: 35vw;
              height: 25vw;
              .icon {
                font-size: 6vw;
              }
              h1 {
                font-family: "poppinsSemiBold";
                font-size: 4vw;
              }
              p {
                font-family: "poppinsRegular";
                font-size: 2vw;
              }
            }
          }
          .row:nth-child(2) {
            p {
              font-size: 2.5vw;
              line-height: 4vw;
            }
          }
        }
      }
    }
    .Experience {
      header {
        p {
          font-size: 4vw;
        }
        h1 {
          font-size: 8vw;
        }
      }
      .col {
        flex-direction: column;
        .store-img {
          margin: 5vw 0;
          width: 40vw;
          height: 40vw;
        }
        .row {
          width: 80vw;
          h1 {
            font-size: 8vw;
            span {
              font-size: 3vw;
            }
          }
          p {
            font-size: 2.6vw;
            line-height: 4.8vw;
          }
        }
      }
    }
    .explore-experience {
      header {
        p {
          font-size: 4vw;
        }
        h1 {
          font-size: 8vw;
        }
      }
      .cards {
        flex-direction: column;
        .card {
          width: 80vw;
          margin: 2vw 0;
          header {
            h1 {
              font-size: 6vw;
            }
          }
          .col {
            .row {
              width: 40vw;
              // border: 1px solid white;
              padding: 3.5vw 0;
              .icon {
                font-size: 4vw;
              }
              .content {
                h1 {
                  font-size: 3.5vw;
                }
                p {
                  font-size: 2.6vw;
                }
              }
            }
          }
        }
      }
    }
    .projects {
      header {
        p {
          font-size: 4vw;
        }
        h1 {
          font-size: 8vw;
        }
      }
      .cards {
        flex-direction: column;
        .card {
          width: 80vw;
          margin: 2vw 0;
          .store-img {
            width: 100%;
            height: 40vw;
            background-size: contain;
          }
          h1 {
            font-size: 4.5vw;
          }
          button {
            //   display: none;
            margin: 6vw 0;
            transition: $transition-effect;
            font-size: 3vw;
            padding: 2vw 4vw;
            width: 25vw;
            border: 1px solid black;

            .icon {
              font-size: 4vw;
            }
          }
          button:hover {
            border: 1px solid #fafafa;
            background-color: black;
            color: #fafafa;
          }
        }
      }
    }
    .get-in-touch {
      header {
        p {
          font-size: 4vw;
        }
        h1 {
          font-size: 8vw;
        }
      }
      .card {
        width: 80vw;
        flex-direction: column;
        .row {
          padding: 2vw 0;
          .icon {
            font-size: 6vw;
          }
          p {
            font-size: 4vw;
          }
        }
      }
    }
    footer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 15vw;
      padding-top: 6vw;
      p {
        font-family: "senRegular";
        font-size: 3.2vw;
      }
    }
  }
}

.box {
  .close-icon {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(206, 206, 206);
    padding: 0.3vw;
    position: absolute;
    top: -10px;
    right: -10px;
  }
}
